SECRET_KEY=my_secret_key
DEBUG=True

# ALLOWED_HOSTS=yourdomain.com,anotherdomain.com (Each host is separated by a comma)
ALLOWED_HOSTS=*

DARAJA_ENVIRONMENT=sandbox
DARAJA_SHORTCODE=174379
DARAJA_PASSKEY=your_daraja_passkey
DARAJA_CALLBACK_URL=https://example.com/payments/mpesa/callback/
PAYMENT_GATEWAY_NAME=Stripe
